/***********************
/ Foot print animations
***********************/

@keyframes walking {
  0%   {visibility: hidden;}
  100% {visibility: visible;}
}

#foot1 {
    position: absolute;
    right: 0;
    left: 10%;
    margin-top: 6rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(290deg);
}

#foot2 {
    position: absolute;
    right: 0;
    left: 17%;
    margin-top: 18rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(310deg);
}

#foot3 {
    position: absolute;
    right: 0;
    left: 28%;
    margin-top: 13rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(320deg);
}

#foot4 {
    position: absolute;
    right: 0;
    left: 34%;
    margin-top: 27rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(340deg);
}

#foot5 {
    position: absolute;
    right: 0;
    left: 47%;
    margin-top: 23rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(320deg);
}

#foot6 {
    position: absolute;
    right: 0;
    left: 46%;
    margin-top: 38rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(320deg);
}

#foot7 {
    position: absolute;
    right: 0;
    left: 60%;
    margin-top: 40rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(340deg);
}

#foot8 {
    position: absolute;
    right: 0;
    left: 55%;
    margin-top: 53rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(350deg);
}

#foot9 {
    position: absolute;
    right: 0;
    left: 68%;
    margin-top: 63rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(5deg);
}

#foot10 {
    position: absolute;
    right: 0;
    left: 55%;
    margin-top: 70rem;
    visibility: hidden;
    animation: walking linear;
    animation-timeline: view();
    animation-range: contain;
    transform: rotate(5deg);
}

/***************************
/text section
****************************/

.text {
    padding: 0.5rem;
    font-size: 3rem;
    background-color: #222;
    color: white;
    font-family: "Times New Roman", Times, serif;
}