/*****************************************************/
/* File: css_files/dinosaurSelection.css */
/*****************************************************/

/*************************************************************************************/
/* Reset CSS */
/* Source: https://meyerweb.com/eric/tools/css/reset/ */
/*************************************************************************************/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*************************************************************************************/
/* Global Styles */
/*************************************************************************************/

body {
  background-color: #2E3E40;
  overflow-x: hidden;
}

/*************************************************************************************/
/* Navigation Styles */
/*************************************************************************************/

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}

#thesaurus {
  cursor: pointer;
}

#changeLanguage {
  grid-column: 3/ 4;
  align-self: center;
  justify-self: end;
  padding-right: 60px;
}

#menu {
  grid-column: 4/ 5;
  align-self: center;
  cursor: pointer;
}

#homeButton {
  display: flex;
  align-items: center;
  align-self: center;
  grid-area: 1/ 1 / 2 / 3;
}

.webName {
  margin-left: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}

.languages {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.dropdown-languages {
  position: absolute;
  background-color: black;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border: #00FF64 5px solid;
  display: none;
}

.translate {
  color: #00FF64;
  font-weight: 500;
  padding: 1rem 0rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.translate:hover {
  background-color: #2E3E40;
}

.languagesButton:hover .dropdown-languages{
  display: block;
}

.dropdownMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-pages {
  position: absolute;
  background-color: black;
  min-width: 200px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border: #00FF64 5px solid;
  display: none;
  right: 4%;
}

.dropdownItem {
  font-size: 0.9rem;
  color: #00FF64;
  font-weight: 500;
  padding: 1rem 0rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdownItem:hover {
  background-color: #2E3E40;
}

.dropdownButton:hover .dropdown-pages{
  display: block;
}

.navItem {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*************************************************************************************/
/* Landing Section Styles */
/*************************************************************************************/

.title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  margin: 50px 60px 0px 60px
}

.pageHead {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-weight: 700;
  text-align: left;
  font-size: 5rem;
}

.pageDescription {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  text-align: left;
  font-size: 1.3rem;
  margin-right: 50%;
  margin-top: 20px;
}

.pageHat {
  border: none;
  background-color: #00FF64;
  width: 65%;
  height: 20px;
}

#selectBanner {
  width: 100%;
}

/*************************************************************************************/
/* Select Section Styles */
/*************************************************************************************/

.dinosaurBoxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 100px 30px 100px 30px;
}

.dinosaurBoxes h2 {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.pachy, .trex, .tricera {
  margin-bottom: 150px;
}

.dinoBox {
  text-align: center;
  justify-self: center;
  background-color: #171A1C;
  border-radius: 10px;
  padding: 20px;
  flex: 0 0 20%;
  height: 23rem;
  width: 23rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  align-content: center;
}

.dinoBox:hover {
  background-color: white;
  transform: scale(1.1);
}

.boxImage {
  padding: 10px;
  width: 100%;
}

/*************************************************************************************/
/* Footer Styles */
/*************************************************************************************/

.footerSection {
  background-color: #00FF64;
  height: 260px;
  z-index: -2;
}

.footerMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}

.footerHead {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1.6rem;
  margin-top: 50px;
  font-weight: 700;
}

.footerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerSubHead {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1.1rem;
  font-weight: 700;
}

.footerLink {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1rem;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerTitle {
  grid-area: 1/ 1 / 2 / 3;
}

.footerSocials {
  grid-area: 1/ 1 / 2 / 2;
  margin-top: 165px;
  display: flex;
  align-self: flex-end;
}

#facebook, #instagram, #youtube {
  margin-right: 35px;
}

.social {
  cursor: pointer;
  transition: transform 0.2s ease;
  align-self: center;
}

.social:hover {
  transform: scale(1.4);
}

.footerDinoLinks {
  grid-area: 1/ 4 / 2 / 5;
  margin-top: 50px;
}

.footerPalaeoLinks {
  grid-area: 1/ 5 / 2 / 6;
  margin-top: 50px;
}

.footerDinoLinks li, .footerPalaeoLinks li {
  padding-top: 25px;
}

/*************************************************************************************/
/* Media Queries */
/*************************************************************************************/
@media screen and (max-width: 1080px) {
/* Navigation Section */
  .navigation, .title, .footerMain {
    margin-left: 50px;
    margin-right: 50px;
  }

/* Landing Section*/ 
  .webName {
    font-size: 1.3rem;
  }

  #thesaurus {
    width: 48px;
  }

  .languages {
    font-size: 1.3rem;
  }

  .dropdown-languages {
    min-width: 105px;
  }

  .translate {
    font-size: 0.7rem;
  }

  .dropdownItem {
    font-size: 0.7rem;
  }

  .pageHead {
    font-size: 4rem;
  }

  .pageDescription {
    font-size: 1.1rem;
  }

  .pageHat {
    width: 70%;
  }

/* Dinosaur section */
  .dinoBox {
    width: 19rem;
    height: 19rem;
  }

  .dinosaurBoxes h2 {
    font-size: 1.2rem;
  }

  .dinosaurBoxes {
    margin-top: 100px;
    margin-bottom: 100px;
  }

/* Footer Section */
  .footerHead {
    font-size: 1.3rem;
  }

  .footerSubHead {
    font-size: 1rem;
  }

  .footerLink {
    font-size: 0.9rem;
  }

  .social {
    width: 12%;
  }

}

@media screen and (max-width: 360px) {
/* Navigation Section*/
  .navigation, .title, .footerMain {
    margin-left: 20px;
    margin-right: 20px;
  }

  .webName {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }

  #thesaurus {
    width: 35px;
  }

  .languages {
    font-size: 0.8rem;
  }

  #changeLanguage {
    padding-right: 10px;
  }

  .dropdown-languages {
    min-width: 80px;
  }

  .translate {
    font-size: 0.5rem;
  }

  #dropdownIcon {
    width: 25px;
  }

  .dropdown-pages {
    min-width: 130px;
    right: 6%;
  }

  .dropdownItem {
    font-size: 0.5rem;
  }

/* Landing Section */
  .title {
    grid-template-rows: 1fr 3fr 2fr;
    margin-top: 30px;
  }

  .pageHat {
    width: 85%;
    height: 15px;
    margin-bottom: 0px;
  }

  .pageHead {
    font-size: 3rem;
  }

  .pageDescription {
    font-size: 1rem;
    margin-right: 10%;
  }

/* Dinosaur section */
  .dinosaurBoxes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin: 100px 10px 0px 10px;
  }

  .dinosaurBoxes h2 {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .dinoBox {
    width: 18rem;
    height: 18rem;
  }

/*Footer Section */
  .footerDinoLinks, .footerPalaeoLinks {
    display: none;
  }

  .footerSocials {
    grid-area: 1/ 1 / 2 / 2;
    margin-top: 135px;
    display: flex;
    align-self: flex-end;
  }

  .footerHead {
    font-size: 0.9rem;
    margin-top: 50px;
  }

  .social {
    width: 20%;
  }

  #facebook, #instagram, #youtube {
    margin-right: 25px;
  }

  .footerSection {
    height: 200px;
  }
}


