/*****************************************************/
/* File: css_files/home.css */
/*****************************************************/

/*************************************************************************************/
/* Reset CSS */
/* Source: https://meyerweb.com/eric/tools/css/reset/ */
/*************************************************************************************/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*************************************************************************************/
/* Global Styles */
/*************************************************************************************/

body {
  background-color: #2E3E40;
  overflow-x: hidden;
}

/*************************************************************************************/
/* Footprint Styles */
/*************************************************************************************/

.footprintGridOne {
  display: grid;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.footprintGridTwo {
  display: grid;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.track {
  width: 100%;
}

/*************************************************************************************/
/* Navigation Styles */
/*************************************************************************************/

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}

#thesaurus {
  cursor: pointer;
}

#changeLanguage {
  grid-column: 3/ 4;
  align-self: center;
  justify-self: end;
  padding-right: 60px;
}

#menu {
  grid-column: 4/ 5;
  align-self: center;
}

#homeButton {
  display: flex;
  align-items: center;
  align-self: center;
  grid-area: 1/ 1 / 2 / 3;
}

.webName {
  margin-left: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}

.languages {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.dropdown-languages {
  position: absolute;
  background-color: black;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border: #00FF64 5px solid;
  display: none;
}

.translate {
  font-size: 0.9rem;
  color: #00FF64;
  font-weight: 500;
  padding: 1rem 0rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.translate:hover {
  background-color: #2E3E40;
}

.languagesButton:hover .dropdown-languages{
  display: block;
}

.dropdownMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-pages {
  position: absolute;
  background-color: black;
  min-width: 200px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border: #00FF64 5px solid;
  display: none;
  right: 4%;
}

.dropdownItem {
  font-size: 0.9rem;
  color: #00FF64;
  font-weight: 500;
  padding: 1rem 0rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdownItem:hover {
  background-color: #2E3E40;
}

.dropdownButton:hover .dropdown-pages{
  display: block;
}

.navItem {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*************************************************************************************/
/* Landing Section Styles */
/*************************************************************************************/

.landingSection {
  background-image: url("../images_files/dinosaurIMG/land_imgL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.opening {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Inter", sans-serif;
  color: #00FF64;
}

.openingTitle {
  margin-top: 30%;
  line-height: 1;
  margin-left: 0;
  grid-area: 1/ 1/ 2/ 2;
}

.openingTitle .top {
  font-size: 3rem;
  font-weight: 700;
}

.openingTitle .bottom {
  font-size: 6.25rem;
  font-weight: 700;
}

.openingInfo {
  font-size: 1.2rem;
  grid-column: 1/ 2;
  padding-right: 35%;
  margin-top: 2.5rem;
  line-height: 1.3;
  margin-left: 0;
}

/*************************************************************************************/
/* Dinosaurs Section Styles */
/*************************************************************************************/

.dinosaurMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 200px;
}

.dinosaurText {
  padding: 0%;
  grid-area: 1/ 1 / 2 / 2;
  align-self: center;
}

.dinoHead {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-weight: 700;
  padding: 0%;
}

.dinoDescription {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-right: 20%;
  margin-top: 15px;
}

.dinoSelectButton {
  background-color: #00FF64;
  color: #2E3E40;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.3rem 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  letter-spacing: 1px;
  transition: transform 0.2s ease;
}

.dinoSelectButton:hover {
  background-color: white;
  transform: scale(1.1);
}

.dinosaurImage {
  max-width: 100%;
  width: 100%;
  height: auto;
  box-shadow: #182020 0px 0px 10px 0px;
  align-self: center;
}

/*************************************************************************************/
/* Carousel Section Styles */
/*************************************************************************************/

.carouselMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  margin-top: 100px;
}

.carouselTitle {
  margin: 0%;
  padding: 0%;
}

.carouselHead {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 0%;
  padding: 0%;
  margin-top: 70px;
}

.carouselBackground {
  position: absolute;
  margin-top: 450px;
  width: 100%;
  z-index: -2;
}

.dinosaurCarousel h2 {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.dinosaurCarousel {
  height: auto;
  width: 100%;
  display: flex;
  gap: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-top: 50px;
}

.dinosaurCarousel:hover .arrow{
  display: block;
}

.dinoCarouselItem {
  text-align: center;
  list-style-type: none;
  background-color: #171A1C;
  border-radius: 10px;
  padding: 20px;
  scroll-snap-align: center;
  flex: 0 0 20%;
  height: 25rem;
  width: 25rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  align-content: center;
}

.dinoCarouselItem:hover {
  background-color: white;
  transform: scale(1.1);
}

.dinosaurCarousel::-webkit-scrollbar {
  display: none;
}

.carouselIMG {
  width: 100%;
  padding: 10px;
}

.arrow {
  position: absolute;
  z-index: 10;
  align-self: center;
  padding-bottom: 60px;
  display: none;
  width: 5%;
}

#leftArrow {
  left: 0.5%;
}

#rightArrow {
  right: 0.5%;
}

/*************************************************************************************/
/* Palaeontology Section Styles */
/*************************************************************************************/

.palaeontologySection {
  margin-top: 500px;
  height: 950px;
}

.palaeontologyMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  background-image: url("../images_files/dinosaurIMG/palaeontology_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.palaeontologyTitle {
  grid-area: 1/ 1 / 2 / 2;
  align-self: flex-end;
  margin-bottom: 10px;
}

.palaeoHead {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  padding: 0%;
  text-align: center;
  font-weight: 700;
}

.palaeoDescription {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-right: 25%;
  padding-left: 25%;
  text-align: center;
  align-self: center;
}

.palaeoButtonContainer {
  text-align: center;
  margin-top: 55px;
}

.palaeoButton {
  background-color: #00FF64;
  color: #2E3E40;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.3rem 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform 0.2s ease;
}

.palaeoButton:hover {
  background-color: white;
  transform: scale(1.1);
}

/*************************************************************************************/
/* About Section Styles */
/*************************************************************************************/

.aboutUsTopGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 250px 500px 250px;
  margin-left: 60px;
  margin-right: 60px;
}

.bigCloud {
  grid-area: 1/ 3 / 2/ 4;
  margin-left: 5%;
  margin-right: auto;
  max-width: 100%;
  width: 28.5rem;
}

.pteranodon {
  grid-area: 2/ 3/ 3/ 4;
  margin-top: 100px;
  justify-self: end;
  max-width: 100%;
  width: 45rem;
}

.smallCloud {
  grid-area: 2/ 1/ 3/ 2;
  max-width: 100%;
  width: 22rem;
}

.aboutUsContent {
  z-index: 2;
  grid-area: 2/ 1 / 4 / 4;
  margin-top: 250px;
  padding-right: 35%;
  padding-left: 18%;
}

.aboutUsBottomGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 60px;
  margin-right: 60px;
}

.brachiosaurus {
  grid-area: 1/ 1 / 2 / 2;
  align-self: flex-end;
  z-index: 2;
  position: relative;
  top: 16px;
  max-width: 100%;
  max-height: 80%;
}

.mountains {
  grid-area: 1/ 1 /2 / 3;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  top: 1px;
  max-width: 100%;
  max-height: 50%;
}

.tree {
  grid-area: 1/ 2 / 2 / 3;
  align-self: flex-end;
  justify-self: end;
  position: relative;
  top: 16px;
  z-index: 2;
  max-width: 100%;
}

.aboutUsHead {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 4rem;
  margin-top: 100px;
  font-weight: 700;
}

.aboutUsDescription {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 20px;
}

/*************************************************************************************/
/* Footer Styles */
/*************************************************************************************/

.footerSection {
  background-color: #00FF64;
  height: 260px;
  z-index: -2;
}

.footerMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}

.footerHead {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1.6rem;
  margin-top: 50px;
  font-weight: 700;
}

.footerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerSubHead {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1.1rem;
  font-weight: 700;
}

.footerLink {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1rem;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerTitle {
  grid-area: 1/ 1 / 2 / 3;
}

.footerSocials {
  grid-area: 1/ 1 / 2 / 2;
  margin-top: 165px;
  display: flex;
  align-self: flex-end;
}

#facebook, #instagram, #youtube {
  margin-right: 35px;
}

.social {
  cursor: pointer;
  transition: transform 0.2s ease;
  align-self: center;
}

.social:hover {
  transform: scale(1.4);
}

.footerDinoLinks {
  grid-area: 1/ 4 / 2 / 5;
  margin-top: 50px;
}

.footerPalaeoLinks {
  grid-area: 1/ 5 / 2 / 6;
  margin-top: 50px;
}

.footerDinoLinks li, .footerPalaeoLinks li {
  padding-top: 25px;
}

/*************************************************************************************/
/* Media Queries */
/*************************************************************************************/

@media screen and (max-width: 1440px) {
/* Margins */
  .navigation, .opening, .aboutUsTopGrid, 
  .aboutUsBottomGrid, .footerMain {
    margin-left: 55px;
    margin-right: 55px;
  }

  .dinosaurMain {
    margin-right: 105px;
    margin-left: 105px;
  }

  .dinosaurCarousel {
    gap: 80px;
  }

  .palaeontologySection {
    margin-top: 485px;
  }

/* Dinosaur Section */
  .dinoDescription {
    padding-right: 15%;
  }
}

@media screen and (max-width: 1080px) {
/* Margins */
  .navigation, .opening, 
  .aboutUsBottomGrid, .footerMain{
    margin-left: 50px;
    margin-right: 50px;
  }

  .dinosaurMain {
    margin-right: 100px;
    margin-left: 100px;
  }

/* Landing Section*/ 
  .webName {
    font-size: 1.3rem;
  }

  #thesaurus {
    width: 48px;
  }

  .languages {
    font-size: 1.3rem;
  }

  .dropdown-languages {
    min-width: 105px;
  }

  .translate {
    font-size: 0.7rem;
  }

  .dropdownItem {
    font-size: 0.7rem;
  }

  .openingTitle {
    margin-top: 20%;
  }

  .openingTitle .top {
    font-size: 2.5rem;
  }

  .openingTitle .bottom {
    font-size: 5.5rem;
  }

  .openingInfo {
    font-size: 1.1rem;
    margin-top: 2.5rem;
    line-height: 1.3;
    padding-right: 30%;
  }

/* Dinosaur Section */
  .dinoHead {
    font-size: 3rem;
  }

  .dinoDescription {
    font-size: 1.2rem;
    line-height: 1.5;
    padding-right: 10%;
    margin-top: 15px;
  }

  .dinoSelectButton {
    font-size: 0.9rem;
    padding: 1.1rem 1.1rem;
    margin-top: 40px;
  }

/* Carousel Section */
  .carouselMain {
    margin-top: 70px;
  }

  .dinosaurCarousel {
    gap: 100px;
  }

  .carouselHead {
    font-size: 3rem;
  }

  .dinosaurCarousel h2 {
    margin-top: 40px;
    font-size: 1.4rem;
  }

  .dinoCarouselItem {
    border-radius: 10px;
    padding: 20px;
    height: 20rem;
    width: 20rem;
  }

  .carouselBackground {
    margin-top: 370px;
  }

/* Palaeontology Section */
  .palaeontologySection {
    margin-top: 340px;
    height: 650px;
  }

  .palaeoHead {
    font-size: 3rem;
  }

  .palaeoDescription {
    font-size: 1.2rem;
    padding-right: 22%;
    padding-left: 22%;
  }

  .palaeoButtonContainer {
    margin-top: 45px;
  }

  .palaeoButton {
    font-size: 0.9rem;
    padding: 1.1rem 1.1rem;
  }

/* About Us Section */
  .aboutUsTopGrid {
    margin-left: 45px;
    margin-right: 45px;
    grid-template-rows: 250px 500px 100px;
  }

  .aboutUsHead {
    font-size: 3rem;
  }

  .aboutUsDescription {
    font-size: 1.2rem;
  }

  .aboutUsContent {
    margin-top: 200px;
    padding-right: 30%;
    padding-left: 15%;
  }

/* Footer Section */
  .footerHead {
    font-size: 1.3rem;
  }

  .footerSubHead {
    font-size: 1rem;
  }

  .footerLink {
    font-size: 0.9rem;
  }

  .social {
    width: 12%;
  }

}

@media screen and (max-width: 768px) {
/* Margins */
  .navigation, .opening, .aboutUsBottomGrid, .footerMain{
    margin-left: 35px;
    margin-right: 35px;
  }

/* Landing Section*/
  .landingSection {
    background-image: url("../images_files/dinosaurIMG/land_imgM.jpg");
    height: 760px;
  }

  .webName {
    font-size: 1.1rem;
  }

  #thesaurus {
    width: 40px;
  }

  .languages {
    font-size: 1.1rem;
  }

  #changeLanguage {
    padding-right: 40px;
  }

  .dropdown-languages {
    min-width: 90px;
  }

  .translate {
    font-size: 0.6rem;
  }

  #dropdownIcon {
    width: 25px;
  }

  .dropdown-pages {
    right: 5%;
  }
  
  .dropdownItem {
    font-size: 0.7rem;
  }

  .openingTitle {
    margin-top: 20%;
  }

  .openingTitle .top {
    font-size: 2rem;
  }

  .openingTitle .bottom {
    font-size: 4.5rem;
  }

  .openingInfo {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    line-height: 1.3;
    padding-right: 30%;
  }

/* Dinosaur Section */
  .dinosaurMain {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    margin-right: 85px;
    margin-left: 85px;
    margin-top: 150px;
  }

  .dinosaurText {
    grid-area: 1 / 1 / 2 / 2;
    align-self: auto;
  }

  .dinosaurImage {
    grid-area: 2 / 1 / 3 / 2;
  }

  .dinoHead {
    font-size: 2.5rem;
  }

  .dinoDescription {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
    font-size: 1rem;
  } 

  .dinoSelectButton {
    margin-bottom: 50px;
    font-size: 0.8rem;
    padding: 1rem 1rem;
  }

/* Carousel Section */
  .carouselHead {
    font-size: 2.5rem;
  }

  .dinosaurCarousel {
    padding-top: 30px;
  }

  .arrow {
    width: 10%;
  }

  #leftArrow {
    left: 2%;
  }

  #rightArrow {
    right: 2%;
  }

/* Palaeontology Section */
  .palaeontologySection {
    height: 500px;
    margin-top: 210px;
  }

  .palaeoHead {
    font-size: 2.5rem;
  }

  .palaeoDescription {
    padding-right: 20%;
    padding-left: 20%;
    font-size: 1rem;
  }

  .palaeoButtonContainer {
    margin-top: 35px;
  }

  .palaeoButton {
    font-size: 0.8rem;
    padding: 1rem 1rem;
  }

/* About Us Section */
  .aboutUsHead {
    font-size: 2.5rem;
  }

  .aboutUsDescription {
    font-size: 1rem;
  }

  .aboutUsTopGrid {
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 250px 470px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .aboutUsContent {
    padding-right: 20%;
    padding-left: 35px;
    margin-top: 150px;
  }

  .brachiosaurus {
    top: 10px;
  }

  .mountains {
    top: 0.5px;
  }
  
  .tree {
    top: 10px
  }

/*Footer Section */
  .footerDinoLinks, .footerPalaeoLinks {
    display: none;
  }

  .footerHead {
    margin-top: 70px;
    font-size: 1.1rem;
  }

  .footerSocials {
    grid-area: 1 / 4 / 1 / 6;
    justify-self: flex-end;
    margin-top: 70px;
  }

  .social {
    width: 10%;
  }

  .footerSection {
    height: 230px;
  }

}

@media screen and (max-width: 425px) {
/* Margins */
  .navigation, .opening, .aboutUsBottomGrid, .footerMain {
    margin-left: 25px;
    margin-right: 25px;
  }

  .dinosaurMain {
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 100px;
  }

/* Landing Section*/
  .landingSection {
    background-image: url("../images_files/dinosaurIMG/land_imgS.jpg");
    height: 700px;
  }

  .opening {
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    margin-top: 200px;
  }

  .webName {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }

  #thesaurus {
    width: 35px;
  }

  .languages {
    font-size: 0.8rem;
  }

  #changeLanguage {
    padding-right: 15px;
  }

  .dropdown-languages {
    min-width: 80px;
  }

  .translate {
    font-size: 0.5rem;
  }

  #dropdownIcon {
    width: 25px;
  }

  .dropdown-pages {
    min-width: 130px;
    right: 6%;
  }

  .dropdownItem {
    font-size: 0.5rem;
  }

  .openingTitle {
    margin-top: 10%;
  }

  .openingTitle .top {
    font-size: 1.7rem;
  }

  .openingTitle .bottom {
    font-size: 3.5rem;
  }

  .openingInfo {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    line-height: 1.3;
    padding-right: 20%;
  }

/* Dinosaur Section */
  .dinosaurMain {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .dinoHead {
    font-size: 1.7rem;
  }

  .dinoDescription {
    font-size: 0.8rem;
  } 

  .dinoSelectButton {
    font-size: 0.7rem;
    padding: 0.9rem 0.9rem;
    margin-top: 25px;
  }

/* Carousel Section */
  .carouselMain {
    margin-top: 20px;
  }

  .carouselHead {
    font-size: 1.7rem;
  }

  .carouselBackground {
    margin-top: 250px;
  }

  .dinosaurCarousel h2 {
    margin-top: 25px;
    font-size: 0.9rem;
  }

  .dinosaurCarousel {
    gap: 70px;
  }

  .dinoCarouselItem {
    width: 12rem;
    height: 12rem;
  }

/* Palaeontology Section */
  .palaeontologySection {
    margin-top: 55px;
    height: 300px;
  }

  .palaeoHead {
    font-size: 1.7rem;
  }

  .palaeoDescription {
    font-size: 0.8rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .palaeoButtonContainer {
    margin-top: 20px;
  }

  .palaeoButton {
    font-size: 0.7rem;
    padding: 0.9rem 0.9rem;
  }

/* About Us Section */
  .aboutUsTopGrid {
    grid-template-rows: 100px 370px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
  }

  .pteranodon {
    grid-area: 2 / 2 / 3/ 4;
    margin-top: 75px;
  }

  .aboutUsHead {
    font-size: 1.7rem;
  }

  .aboutUsDescription {
    font-size: 0.8rem;
  }

  .aboutUsContent {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 100px;
  }

  .brachiosaurus {
    top: 7px;
  }

  .tree {
    top: 7px;
  }

/* Footer Section */
  .footerSocials {
    grid-area: 1/ 1 / 2 / 2;
    margin-top: 135px;
    display: flex;
    align-self: flex-end;
  }

  .footerHead {
    font-size: 0.9rem;
    margin-top: 50px;
  }

  .social {
    width: 20%;
  }

  #facebook, #instagram, #youtube {
    margin-right: 25px;
  }

  .footerSection {
    height: 200px;
  }

}

@media screen and (max-width: 375px) {
/* Margins */
  .navigation, .opening, .aboutUsBottomGrid, .footerMain {
    margin-left: 20px;
    margin-right: 20px;
  }

  .dinosaurMain {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 100px;
  }

/* Landing Section*/
  #changeLanguage {
    padding-right: 10px;
  }

  .opening {
    grid-template-rows: 2fr 1fr;
  }

  .openingTitle {
    margin-top: 10%;
  }

  .openingTitle .top {
    font-size: 1.5rem;
  }

  .openingTitle .bottom {
    font-size: 3.1rem;
  }

  .openingInfo {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    line-height: 1.3;
    padding-right: 20%;
  }

/* Dinosaur Section */
  .dinosaurImage {
    align-self: auto;
  }

  .dinoHead {
    font-size: 1.7rem;
  }

  .dinoDescription {
    font-size: 0.7rem;
  } 

  .dinoSelectButton {
    margin-bottom: 60px;
    font-size: 0.6rem;
    padding: 0.8rem 0.8rem;
  }

/* Carousel Section */
  .carouselHead {
    font-size: 1.7rem;
  }

  .carouselBackground {
    margin-top: 230px;
  }

  .dinosaurCarousel h2 {
    margin-top: 25px;
    font-size: 0.9rem;
  }

  .dinosaurCarousel {
    gap: 60px;
    margin-top: 0px;
  }

  .dinoCarouselItem {
    width: 11rem;
    height: 11rem;
  }

/* Palaeontology Section */
  .palaeontologySection {
    margin-top: 10px;
    height: 300px;
  }

  .palaeoHead {
    font-size: 1.7rem;
  }

  .palaeoDescription {
    font-size: 0.7rem;
  }

  .palaeoButtonContainer {
    margin-top: 20px;
  }

  .palaeoButton {
    font-size: 0.6rem;
    padding: 0.8rem 0.8rem;
  }

/* About Us Section */
  .aboutUsTopGrid {
    grid-template-rows: 100px 350px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .pteranodon {
    grid-area: 2 / 2 / 3/ 4;
    margin-top: 75px;
  }

  .aboutUsHead {
    font-size: 1.7rem;
  }

  .aboutUsDescription {
    font-size: 0.7rem;
  }

  .aboutUsContent {
    padding-left: 25px;
    padding-right: 25px;
  }

/* Footer Section */
}

@media screen and (max-width: 360px) {
  .palaeontologySection {
    margin-top: 0px;
  }

  h2 {
    font-weight: 700;
  }
}