/*****************************************************/
/* File: css_files/style.css */
/*****************************************************/

/*************************************************************************************/
/* Reset CSS */
/* Source: https://meyerweb.com/eric/tools/css/reset/ */
/*************************************************************************************/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*************************************************************************************/
/* Global Styles */
/*************************************************************************************/

body {
  background-color: #2E3E40;
  overflow-x: hidden;
}

/*************************************************************************************/
/* Footprint Styles */
/*************************************************************************************/

.footprintGrid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(100, 0.5fr);
  position: absolute;
  z-index: -100;
  width: 100%;
  height: auto;
}


#footprint1 {
  grid-area: 21/ 20 / 22 / 21;
  transform: rotate(200deg);
}

#footprint2 {
  grid-area: 23/ 18 / 24 / 19;
  transform: rotate(170deg);
}

#footprint3 {
  grid-area: 27/ 19 / 28 / 20;
  transform: rotate(200deg);
}

#footprint4 {
  grid-area: 33/ 18 / 34 / 19;
  transform: rotate(200deg);
}

#footprint5 {
  grid-area: 34/ 16 / 35 / 17;
  transform: rotate(180deg);
}

#footprint6 {
  grid-area: 36/ 18 / 37 / 19;
  transform: rotate(200deg);
}

#footprint7 {
  grid-area: 33 / 1 / 34 / 2;
  transform: rotate(160deg);
}

#footprint8 {
  grid-area: 34 / 3 / 35 / 4;
  transform: rotate(170deg);
}

#footprint9 {
  grid-area: 36 / 2 / 37 / 3;
  transform: rotate(180deg);
}

#footprint10 {
  grid-area: 37 / 4 / 38 / 5;
  transform: rotate(200deg);
}

#footprint11 {
  grid-area: 39 / 2 / 40 / 3;
  transform: rotate(170deg);
}

#footprint12 {
  grid-area: 41 / 4 / 42 / 5;
  transform: rotate(190deg);
}

#footprint13 {
  grid-area: 90 / 19 / 91 / 20;
  transform: rotate(230deg);
}

#footprint14 {
  grid-area: 91 / 17 / 92 / 18;
  transform: rotate(210deg);
}

#footprint15 {
  grid-area: 93 / 16 / 94 / 17;
  transform: rotate(240deg);
}

#footprint16 {
  grid-area: 94 / 14 / 95 / 15;
  transform: rotate(210deg);
}

#footprint17 {
  grid-area: 94 / 3 / 95 / 4;
  transform: rotate(150deg);
}

#footprint18 {
  grid-area: 95 / 5 / 96 / 6;
  transform: rotate(130deg);
}

#footprint19 {
  grid-area: 96/ 7 / 97 / 8;
  transform: rotate(150deg);
}

#footprint20{
  grid-area: 97 / 6 / 98/ 7;
  transform: rotate(160deg);
}

#footprint21 {
  grid-area: 98 / 8 / 99 / 9;
  transform: rotate(140deg);
}

#footprint22 {
  grid-area: 99 / 7 / 100 / 8;
  transform: rotate(150deg);
}


/*************************************************************************************/
/* Navigation Styles */
/*************************************************************************************/

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}


#changeLanguage {
  grid-column: 3/ 4;
  align-self: center;
  justify-self: end;
  padding-right: 18%;
}

#menu {
  grid-column: 4/ 5;
  align-self: center;
}

#homeButton {
  display: flex;
  align-items: center;
  align-self: center;
  grid-area: 1/ 1 / 2 / 3;
}

.webName {
  margin-left: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 1.6rem;
}

.languages {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-languages {
  display: none;
  position: absolute;
  background-color: black;
  max-width: 1.6rem;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  border: #00FF64 5px solid;
}

.translate {
  color: #00FF64;
  font-weight: 500;
  padding: 1rem 0rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

.translate:hover {
  background-color: #2E3E40;
}

.languagesButton:hover .dropdown-languages{
  display: block;
}

.navItem {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*************************************************************************************/
/* Landing Section Styles */
/*************************************************************************************/

.landingSection {
  background-image: url("../images_files/dinosaurIMG/land_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.opening {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Inter", sans-serif;
  color: #00FF64;
}

.openingTitle {
  margin-top: 30%;
  line-height: 1;;
  margin-left: 0;
  grid-area: 1/ 1/ 2/ 2;
}

.openingTitle .top {
  font-size: 3rem;
}

.openingTitle .bottom {
  font-size: 6.25rem;
}

.openingInfo {
  font-size: 1.2rem;
  grid-column: 1/ 2;
  padding-right: 40%;
  margin-top: 2.5rem;
  line-height: 1.3;
  margin-left: 0;
}

/*************************************************************************************/
/* Dinosaurs Section Styles */
/*************************************************************************************/

.dinosaurMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 200px;
}

.dinosaurText {
  padding: 0%;
  padding-top: 10px;
  grid-area: 1/ 1 / 2 / 2;
}

.dinoHead {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  padding: 0%;
}

.dinoDescription {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-right: 20%;
  margin-top: 30px;
}

.dinoSelectButton {
  background-color: #00FF64;
  color: #2E3E40;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

.dinosaurImage {
  max-width: 100%;
  width: 100%;
  height: auto;
  box-shadow: #182020 0px 0px 10px 0px;
}

/*************************************************************************************/
/* Carousel Section Styles */
/*************************************************************************************/

.carouselMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  margin-top: 200px;
}

.carouselTitle {
  margin: 0%;
  padding: 0%;
}

.carouselHead {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 4rem;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.carouselBackground {
  position: absolute;
  margin-top: 450px;
  width: 100%;
  z-index: -1;
}

.dinosaurCarousel h2 {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  margin-top: 48px;
  font-size: 1.5rem;
}

.dinosaurCarousel {
  height: auto;
  width: 100%;
  display: flex;
  gap: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-top: 150px;
}

.dinosaurCarousel:hover .arrow{
  display: block;
}

.dinoCarouselItem {
  text-align: center;
  list-style-type: none;
  background-color: #171A1C;
  border-radius: 10px;
  padding: 20px;
  scroll-snap-align: center;
  flex: 0 0 20%;
  height: 25rem;
  width: 25rem;
}

.dinosaurCarousel::-webkit-scrollbar {
  display: none;
}

.dinosaurCarousel::before,
.dinosaurCarousel::after {
  content: "";
  flex: 0 0 40vw;
}

.carouselIMG {
  aspect-ratio: 4/ 2;
  margin-top: 30%;
  width: 90%;
}

.arrow {
  position: absolute;
  z-index: 10;
  align-self: center;
  padding-bottom: 60px;
  display: none;
  width: 5%;
}

#leftArrow {
  left: 1%;
}

#rightArrow {
  right: 1%;
}

/*************************************************************************************/
/* Palaeontology Section Styles */
/*************************************************************************************/

.palaeontologySection {
  background-image: url("../images_files/dinosaurIMG/palaeontology_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 975px;
}

.palaeontologyMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 380px;
  margin-left: 60px;
  margin-right: 60px;
}

.palaeoHead {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  color: #00FF64;
  grid-area: 1/ 1 / 2 / 2;
  padding: 0%;
  text-align: center;
  margin-top: 240px;
}

.palaeoDescription {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-right: 25%;
  padding-left: 25%;
  margin-top: 50px;
  text-align: center;
}

.palaeoButtonContainer {
  text-align: center;
}

.palaeoButton {
  background-color: #00FF64;
  color: #2E3E40;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 70px;
}

/*************************************************************************************/
/* About Section Styles */

/*************************************************************************************/

.aboutUsTopGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 250px 500px 300px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 300px;
}

.bigCloud {
  grid-area: 1/ 3 / 2/ 4;
  margin-left: 5%;
  margin-right: auto;
  max-width: 100%;
  width: 28.5rem;
}

.pteranodon {
  grid-area: 2/ 3/ 3/ 4;
  margin-top: 100px;
  justify-self: end;
  max-width: 100%;
  width: 45rem;
}

.smallCloud {
  grid-area: 2/ 1/ 3/ 2;
  max-width: 100%;
  width: 22rem;
}

.aboutUsContent {
  z-index: 2;
  grid-area: 2/ 1 / 4 / 4;
  margin-top: 250px;
  padding-right: 35%;
  padding-left: 18%;
}

.aboutUsBottomGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 60px;
  margin-right: 60px;
}

.brachiosaurus {
  grid-area: 1/ 1 / 2 / 2;
  align-self: flex-end;
  z-index: 2;
  position: relative;
  top: 16px;
  max-width: 100%;
  max-height: 80%;
}

.mountains {
  grid-area: 1/ 1 /2 / 3;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  top: 1px;
  max-width: 100%;
  max-height: 50%;
}

.tree {
  grid-area: 1/ 2 / 2 / 3;
  align-self: flex-end;
  justify-self: end;
  position: relative;
  top: 16px;
  z-index: 2;
  max-width: 100%;
}

.aboutUsHead {
  font-family: "Inter", sans-serif;
  color: #00FF64;
  font-size: 4rem;
  margin-top: 100px;
}

.aboutUsDescription {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 30px;
}

/*************************************************************************************/
/* Footer Styles */
/*************************************************************************************/

.footerSection {
  background-color: #00FF64;
  height:260px;
  z-index: -2;
}

.footerMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 60px;
  margin-right: 60px;
}

.footerHead {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1.6rem;
  margin-top: 50px;
}

.footerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerSubHead {
  font-family: "Inter", sans-serif;
  color: #2E3E40;
  font-size: 1.1rem;
}

.footerLink {
  font-family: "Inter", sans-serif;
  color: #457477;
  font-size: 1rem;
  text-decoration: none;
}

.footerTitle {
  grid-area: 1/ 1 / 2 / 2;
}

.footerSocials {
  grid-area: 1/ 1 / 2 / 2;
  margin-top: 165px;
  display: flex;
  align-self: flex-end;
}

#facebook, #instagram, #youtube {
  margin-right: 35px;
}

.social {
  cursor: pointer;
}

.footerDinoLinks {
  grid-area: 1/ 4 / 2 / 5;
  margin-top: 50px;
}

.footerPalaeoLinks {
  grid-area: 1/ 5 / 2 / 6;
  margin-top: 50px;
}

.footerDinoLinks li, .footerPalaeoLinks li {
  padding-top: 25px;
}

/*************************************************************************************/
/* Media Queries */
/*************************************************************************************/














/*@media screen and (max-width: 768px) {

  .dinosaurMain {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    margin-left: 50px;
    margin-right: 50px;
  }

  .dinosaurText {
    grid-area: 1 / 1 / 2 / 2;
  }

  .dinosaurImage {
    grid-area: 2 / 1 / 3 / 2;
  }

  .dinoDescription {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  } 

}*/

