*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*************************************************************************************/

body {
  background-color: #2E3E40;
}

.landingSection {
  background-image: url("/images_files/otherVG/land_img.png");
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu {
  grid-column: 4/ 5;
}

.homeButton {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.webName {
  margin-left: 8px;
  font-family: "Inter", sans-serif;
  color: #00FF64;
}

#item {
  padding-top: 51px;
  padding-bottom: 44px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: "Inter", sans-serif;
  color: #00FF64;
  margin-left: 60px;
}

.title {
  margin-top: 221px;
  line-height: 1;;
}

.topTitle {
  font-size: 43px;
}

.bottomTitle {
  font-size: 100px;
}

.info {
  font-size: 19px;
  grid-column: 1/ 2;
  padding-right: 250px;
  margin-top: 40px;
}

